<!-- <table class="table table-hover table-sm" id="estudio_grado_table" cellspacing="0" width="100%">
    <thead class="table-dark">
        <tr>
            <th scope="col">PLAN_ESTUDIO_ID</th>
            <th scope="col">DESC_PLAN</th>
            <th scope="col">ULTIMO_PERIODO</th>
            <th scope="col">PENSUM_ID</th>
            <th scope="col">ESTADO_ESTUDIANTE_ID</th>
            <th scope="col">ESTUDIANTE_ID</th>
            <th scope="col">DOC_IDENT</th>
            <th scope="col">APELLIDOS</th>
            <th scope="col">NOMBRES</th>
            <th scope="col">EMAIL</th>
            <th scope="col">TELEF_CELULAR</th>
            <th scope="col">TELEF_RESID_PRI</th>
            <th scope="col">TELEF_RESID_ALT</th>
            <th scope="col">TELEF_OFICINA</th>
            <th scope="col">JORNADA_ID</th>
            <th scope="col">SEMESTRE</th>
            <th scope="col">TOTAL_MAT_PLAN</th>
            <th scope="col">TOTAL_MAT_ESTUD</th>
            <th scope="col">MAT_PEND</th>
            <th scope="col">MATERIAS_PENDIENTES</th>
            <th scope="col">ARTE_O_DEPORTE</th>
            <th scope="col">ESTADO_ARTE_O_DEPORTE</th>
            <th scope="col">DOCUMENTOS_PENDIENTES</th>
            <th scope="col">OBSERVACION_DOC</th>
            <th scope="col">SABER_PRO</th>
            <th scope="col">COD_PRUEBA_SABER_11</th>
            <th scope="col">ULTIMO_PER_MATRICULADO</th>
            <th scope="col">ESTUDIANTE_ID_DIPLOMADO</th>
            <th scope="col">PER_APR_DIPLOMADO</th>
            <th scope="col">NOMBRE_DIPLOMADO_APR</th>
            <th scope="col">DIPLOMADO_APROBADO</th>
            <th scope="col">PROYECTO_GRADO</th>
            <th scope="col">FEC_APR_TRA_GRADO</th>
            <th scope="col">TRABAJO_GRADO</th>
            <th scope="col">TRABAJO_APROBADO</th>
            <th scope="col">ESTADO_DER_GRADO</th>
            <th scope="col">VPAGO_DERECHO_GRADO</th>
            <th scope="col">ESTADO_CREDITO</th>
            <th scope="col">ESTADO_MULTAS</th>
            <th scope="col">VPAGO_REINGRESO</th>
            <th scope="col">GENERO</th>
            <th scope="col">TIPO_DOCUMENTO</th>
            <th scope="col">LUGAR_EXP_DOC</th>
            <th scope="col">DIRECCION</th>
            <th scope="col">BARRIO_ESTUD</th>
            <th scope="col">MUNICIPIO_ESTU</th>
            <th scope="col">FECHA_NACIMIENTO</th>
            <th scope="col">ESTRATO</th>
            <th scope="col">OPCION_GRADO</th>
            <th scope="col">SOLICITUD_DE_GRADO</th>
            <th scope="col">PERIODO_MENCION_HONOR</th>
            <th scope="col">PROYECTO_MENCION_HONOR</th>
            <th scope="col">JUSTIFICACION_MENCION_HONOR</th>
        </tr>
    </thead>
</table>
<script src="public/assets/js/estudio_grado.js"></script> -->